*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    cursor: pointer;
    border-radius: 100%;
   }
   img:hover{
    opacity:0.3;
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 0;
    box-shadow: 1px 1px 10px 5px white;
   }
   #sign{
    font-weight: bolder;
    border: 0;
   }
   #sign:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(128, 128, 128);
    transition: 0.5s;
   }
#btn{
    text-decoration: none;
    color: white;
}
#btn:hover
{
    border-bottom: 1px solid white;
    color: rgba(255, 255, 255, 0.627);

}
#links{
    margin-left: 20px;
    color: gray;
    text-decoration: none;
}
#links:hover{
    color: white;
    transition: 0.5s;
}
#company{
    text-decoration: none;
    color: white;
}
#company:hover{
    color: rgb(170, 170, 170);
}
#library{
    color: white;
}
#library:hover{
    text-decoration: underline;
}